.sidebar {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.03);
  box-shadow: 0 0 0rem rgba(45, 45, 49, 0.1);

  padding-top: 0.5rem;
}

.sidebar h2 {
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.padding_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar a {
  display: block;

  width: 90%;

  margin: 0.5rem 0;
  padding: 0.5rem;

  display: flex;
  align-items: center;

  border-radius: 5px;
  cursor: pointer;

  font-size: 14px;
  font-weight: bold;

  gap: 1.5rem;
  transition: all 0.5s ease-in-out;
}

a.active {
  background-color: #303234;
  color: rgb(239, 239, 239);
}

.sidebar a:hover:not(.active) {
  background-color: #323537;
}

.sidebar .icon {
  color: #9ba0a5;
}

.sidebar .middle-items {
  flex: 1;
}
